html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* empèche les barres de défilement */
  background-color: rgb(198, 34, 34); /* optionnel */
}

/* Style,position pour le canvas */
canvas {
  background: #000000;
  display: block;
  margin-top: 5%;
  width: 100vw;
  height: 91vh;
}
