<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Pong</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <script src="{{ url_for('static', path='js/script.js') }}?v=2" defer></script>
</head>
<body>

    <div id="scoreboard">
        <span id="player1Name">Joueur 1</span>: <span id="player1Score">0</span>
        &nbsp;&nbsp;&nbsp;
        <span id="player2Name">Joueur 2</span>: <span id="player2Score">0</span>
    </div>

    <canvas id="myCanvas"></canvas>

    <div id="gameOverOverlay">
        <h1>Fin de la partie !</h1>
        <button id="replayBtn">Rejouer</button>
        <button id="quitBtn">Quitter</button>
    </div>

</body>
</html>
